#First: explore the data

In [1]:
import pandas as pd

In [2]:
# Load ALL CSV data files
product_data = pd.read_csv('PRODUCTS.csv')
transaction_data = pd.read_csv('TRANSACTION.csv')
user_data = pd.read_csv('USER.csv')

In [3]:
# View the first rows
print(product_data.head())
print(transaction_data.head())
print(user_data.head())

          CATEGORY_1              CATEGORY_2                   CATEGORY_3  \
0  Health & Wellness           Sexual Health  Conductivity Gels & Lotions
1             Snacks           Puffed Snacks         Cheese Curls & Puffs
2  Health & Wellness               Hair Care        Hair Care Accessories
3  Health & Wellness               Oral Care                   Toothpaste
4  Health & Wellness  Medicines & Treatments               Essential Oils

  CATEGORY_4                                       MANUFACTURER  \
0        NaN                                                NaN
1        NaN                                                NaN
2        NaN                           PLACEHOLDER MANUFACTURER
3        NaN                                  COLGATE-PALMOLIVE
4        NaN  MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...

             BRAND       BARCODE
0              NaN  7.964944e+11
1              NaN  2.327801e+10
2          ELECSOP  4.618178e+11
3          COLGATE  3.500047e+10
4  MAPLE HOLISTICS  8.068109e+11
                             RECEIPT_ID PURCHASE_DATE  \
0  0000d256-4041-4a3e-adc4-5623fb6e0c99    2024-08-21
1  0001455d-7a92-4a7b-a1d2-c747af1c8fd3    2024-07-20
2  00017e0a-7851-42fb-bfab-0baa96e23586    2024-08-18
3  000239aa-3478-453d-801e-66a82e39c8af    2024-06-18
4  00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1    2024-07-04

                   SCAN_DATE STORE_NAME                   USER_ID  \
0  2024-08-21 14:19:06.539 Z    WALMART  63b73a7f3d310dceeabd4758
1  2024-07-20 09:50:24.206 Z       ALDI  62c08877baa38d1a1f6c211a
2  2024-08-19 15:38:56.813 Z    WALMART  60842f207ac8b7729e472020
3  2024-06-19 11:03:37.468 Z  FOOD LION  63fcd7cea4f8442c3386b589
4  2024-07-05 15:56:43.549 Z   RANDALLS  6193231ae9b3d75037b0f928

        BARCODE FINAL_QUANTITY FINAL_SALE
0  1.530001e+10           1.00
1           NaN           zero       1.49
2  7.874223e+10           1.00
3  7.833997e+11           zero       3.49
4  4.790050e+10           1.00
                         ID               CREATED_DATE  \
0  5ef3b4f17053ab141787697d  2020-06-24 20:17:54.000 Z
1  5ff220d383fcfc12622b96bc  2021-01-03 19:53:55.000 Z
2  6477950aa55bb77a0e27ee10  2023-05-31 18:42:18.000 Z
3  658a306e99b40f103b63ccf8  2023-12-26 01:46:22.000 Z
4  653cf5d6a225ea102b7ecdc2  2023-10-28 11:51:50.000 Z

                  BIRTH_DATE STATE LANGUAGE  GENDER
0  2000-08-11 00:00:00.000 Z    CA   es-419  female
1  2001-09-24 04:00:00.000 Z    PA       en  female
2  1994-10-28 00:00:00.000 Z    FL   es-419  female
3                        NaN    NC       en     NaN
4  1972-03-19 00:00:00.000 Z    PA       en  female

In [4]:
# Checking for missing values with the CSV files

print("Missing values within Products:\n", product_data.isnull().sum(),"\n")
print("Missing values within Transactions: \n", transaction_data.isnull().sum(),"\n")
print("Missing values within User: \n", user_data.isnull().sum())

Missing values within Products:
 CATEGORY_1          79
CATEGORY_2         976
CATEGORY_3       40571
CATEGORY_4      522201
MANUFACTURER    152004
BRAND           152002
BARCODE           2670
dtype: int64

Missing values within Transactions:
 RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64

Missing values within User:
 ID                  0
CREATED_DATE        0
BIRTH_DATE       3675
STATE            4812
LANGUAGE        30508
GENDER           5892
dtype: int64

In [5]:
# Checking for duplicate rows in each csv file

print("Duplicate rows in Products: \n", product_data.duplicated().sum(),"\n")
print("Duplicate rows in Transactions: \n", transaction_data.duplicated().sum(),"\n")
print("Duplicate rows in Users: \n ", user_data.duplicated().sum())

Duplicate rows in Products:
 101

Duplicate rows in Transactions:
 171

Duplicate rows in Users:
  0

In [6]:
# looking at summary statistics
print(product_data.info(),"\n")

print(transaction_data.info(),"\n")

print(user_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567285 entries, 0 to 567284
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    567206 non-null  object
 1   CATEGORY_2    566309 non-null  object
 2   CATEGORY_3    526714 non-null  object
 3   CATEGORY_4    45084 non-null   object
 4   MANUFACTURER  415281 non-null  object
 5   BRAND         415283 non-null  object
 6   BARCODE       564615 non-null  float64
dtypes: float64(1), object(6)
memory usage: 30.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB
None

#Second: provide SQL queries

##What are the top 5 brands by receipts scanned among users 21 and over?

In [7]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('data.db')

# Loaded our data
user_data = pd.read_csv('USER.csv')
user_data.to_sql('users', conn, if_exists='replace', index=False)

transaction_data = pd.read_csv('TRANSACTION.csv')
transaction_data.to_sql('brands', conn, if_exists='replace', index=False)

product_data = pd.read_csv('PRODUCTS.csv')
product_data.to_sql('receipts', conn, if_exists='replace', index=False)

# Upload Our Query
top_brand_query = """
WITH Age_Users AS (
    SELECT ID AS USER_ID
    FROM users
    WHERE strftime('%Y', 'now') - strftime('%Y', BIRTH_DATE) >= 21
),
Scanned_Receipts AS (
    SELECT T.BARCODE, COUNT(T.RECEIPT_ID) AS Total_Scans
    FROM brands T
    JOIN Age_Users AEU ON T.USER_ID = AEU.USER_ID
    GROUP BY T.BARCODE
)
SELECT R.BRAND, SR.Total_Scans
FROM Scanned_Receipts SR
JOIN receipts R ON SR.BARCODE = R.BARCODE
ORDER BY SR.Total_Scans DESC
LIMIT 5;
"""

# Run the query
result = pd.read_sql(top_brand_query, conn)
print("Top 5 Brands by Receipts Scanned Among Users 21 and Over:")
print(result)


conn.close()

Top 5 Brands by Receipts Scanned Among Users 21 and Over:
         BRAND  Total_Scans
0  NERDS CANDY            4
1      TRIDENT            4
2     TOSTITOS            2
3        SUAVE            2
4         None            2

##What are the top 5 brands by sales among users that have had their account for at least six months?

In [8]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('data.db')

# Loaded our data
user_data = pd.read_csv('USER.csv')
user_data.to_sql('users', conn, if_exists='replace', index=False)

transaction_data = pd.read_csv('TRANSACTION.csv')
transaction_data.to_sql('brands', conn, if_exists='replace', index=False)

product_data = pd.read_csv('PRODUCTS.csv')
product_data.to_sql('receipts', conn, if_exists='replace', index=False)

# Query
account_query = """
WITH Users_Account AS (
    SELECT ID AS USER_ID
    FROM users
    WHERE strftime('%Y', 'now') - strftime('%Y', CREATED_DATE) >= 1
    AND strftime('%m', 'now') - strftime('%m', CREATED_DATE) >= 6
),
Sales AS (
    SELECT T.BARCODE, SUM(T.FINAL_SALE) AS Total_Sales
    FROM brands T
    JOIN Users_Account AEU ON T.USER_ID = AEU.USER_ID
    GROUP BY T.BARCODE
)
SELECT R.BRAND, SUM(S.Total_Sales) AS Total_Sales
FROM Sales S
JOIN receipts R ON S.BARCODE = R.BARCODE
GROUP BY R.BRAND
ORDER BY Total_Sales DESC
LIMIT 5;
"""


result = pd.read_sql(account_query, conn)
print("Top 5 Brands by Sales Among Users Who Have Had Their Account for At Least Six Months:")
print(result)


conn.close()

Top 5 Brands by Sales Among Users Who Have Had Their Account for At Least Six Months:
         BRAND  Total_Sales
0          CVS        72.00
1  GREAT VALUE        12.08
2        CREST         8.97
3       ORAL-B         8.00
4      NABISCO         7.76

#Who are Fetchâ€™s power users?

In [9]:
import sqlite3
import pandas as pd

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('data.db')

# Load data from CSV files into tables
user_data = pd.read_csv('USER.csv')
user_data.to_sql('users', conn, if_exists='replace', index=False)

transaction_data = pd.read_csv('TRANSACTION.csv')
transaction_data.to_sql('brands', conn, if_exists='replace', index=False)

product_data = pd.read_csv('PRODUCTS.csv')
product_data.to_sql('receipts', conn, if_exists='replace', index=False)

# Query to identify Fetch's power users (those who spent the most)
power_users_query = """
WITH User_Spend AS (
    SELECT T.USER_ID, SUM(T.FINAL_SALE) AS Total_Spend
    FROM brands T
    GROUP BY T.USER_ID
)
SELECT U.ID, US.Total_Spend
FROM User_Spend US
JOIN users U ON US.USER_ID = U.ID
ORDER BY US.Total_Spend DESC
LIMIT 10;  -- Top 10 users by total spend
"""

# Run the query and display results
result = pd.read_sql(power_users_query, conn)
print("Fetch's Power Users (Top 10 by Total Spend):")
print(result)

# Close the database connection
conn.close()

Fetch's Power Users (Top 10 by Total Spend):
                         ID  Total_Spend
0  643059f0838dd2651fb27f50        75.99
1  62ffec490d9dbaff18c0a999        52.28
2  5f4c9055e81e6f162e3f6fa8        37.96
3  5d191765c8b1ba28e74e8463        34.96
4  6351760a3a4a3534d9393ecd        27.74
5  64dd9170516348066e7c4006        26.52
6  62c09104baa38d1a1f6c260e        20.28
7  61a58ac49c135b462ccddd1c        19.92
8  6661ed1e7c0469953bfc76c4        18.60
9  5b441360be53340f289b0795        18.32